<h1><%= size = resque.failed_size %> Jobs Failed</h1>
<h2>Showing <%= start = params[:start].to_i %> to <%= start + 20 %></h2>
<table>
  <tr>
    <th>Queue</th>
    <th>Failed</th>    
    <th>Class</th>
    <th>Args</th>    
    <th>Error</th>
  </tr>
  <% for job in resque.failed(start, 20) %>  
  <tr>
    <td><%= job['queue'] %></td>
    <td><span class="time"><%= job['failed_at'] %></span></td>
    <td><%= job['payload']['class'] %></td>
    <td><%=h job['payload']['args'].inspect %></td>
    <td> 
      <a href="#" class="backtrace"><%= h(job['error']) %></a>
      <pre style="display:none;"><%= h(job['backtrace'].join("\n")) %></pre>
    </td>                
  </tr>
  <% end %>
  <%= partial :next_more, :start => start, :size => size %>    
</table>
