<% failed = resque.failed_jobs(resque.failed_size - 20, 20) %>

<h1><%= resque.failed_size %> Jobs Failed</h1>
<table>
  <tr>
    <th>Queue</th>
    <th>Failed</th>    
    <th>Class</th>
    <th>Args</th>    
    <th>Error</th>
  </tr>
  <% for job in failed %>
  <tr>
    <td><%= job['queue'] %></td>
    <td><span class="time"><%= job['failed_at'] %></span></td>
    <td><%= job['payload']['class'] %></td>
    <td><%= h(job['payload']['args']).inspect %></td>
    <td> 
      <a href="#" class="backtrace"><%= h(job['error']) %></a>
      <pre style="display:none;"><%= h(job['backtrace'].join("\n")) %></pre>
    </td>                
  </tr>
  <% end %>
</table>
