<% stats = Resque::Failure.backend.stats %>
<h1>Failed Overview </h1>
<p>failed: <%= Resque::Failure.count %></p>

<h2>Class</h2>
<table>
  <% for klass, count in stats["class"] %>
    <% params = "?class=#{klass}" %>
    <tr>
      <th>
	<a href="<%= u 'failed/overview/list', params %>"><%= klass %></a>
      </th>
      <td>
	<%= count %>
      </td>
      <td>
        <form method="POST" action="<%= u 'failed/overview/action' %>" >
           <input type="hidden" name="class" value="<%= klass %>" />
           <input type='submit' name='action' value='remove' />
           <input type='submit' name='action' value='requeue' />
           <input type='submit' name='action' value='both' />
           <span>Requeue in: (ex. low)</span>
           <input type="text" name="queue" value="" />
        </form>
      </td>
    </tr>
  <% end %>
</table>

<h2>Class/Exception</h2>
<table>
  <% for key, count in stats["class_exception"] %>
    <% klass, exception = key %>
    <% params = "?class=#{klass}&exception=#{exception}" %>
    <tr>
      <th>
	<a href="<%= u 'failed/overview/list', params %>">
	  <%= key.join(' / ') %>
	</a>
      </th>
      <td>
	<%= count %>
      </td>
      <td>
        <form method="POST" action="<%= u 'failed/overview/action' %>" >
           <input type="hidden" name="class" value="<%= klass %>" />
           <input type="hidden" name="exception" value="<%= exception %>" />
           <input type='submit' name='action' value='remove' />
           <input type='submit' name='action' value='requeue' />
           <input type='submit' name='action' value='both' />
           <span>Requeue in: (ex. low)</span>
           <input type="text" name="queue" value="" />
        </form>
      </td>
    </tr>
  <% end %>
</table>

<h2>Class/Smart</h2>
<table>
  <% for key, count in stats["class_smart"] %>
    <% klass, smart = key %>
    <% params = "?class=#{klass}&smart=#{smart}" %>
    <tr>
      <th>
	<a href="<%= u 'failed/overview/list', params %>">
	  <%= key.join(' / ') %>
	</a>
      </th>
      <td>
	<%= count %>
      </td>
      <td>
        <form method="POST" action="<%= u 'failed/overview/action' %>" >
           <input type="hidden" name="class" value="<%= klass %>" />
           <input type="hidden" name="smart" value="<%= smart %>" />
           <input type='submit' name='action' value='remove' />
           <input type='submit' name='action' value='requeue' />
           <input type='submit' name='action' value='both' />
           <span>Requeue in: (ex. low)</span>
           <input type="text" name="queue" value="" />
        </form>
      </td>
    </tr>
  <% end %>
</table>

