<%# FIXME: HELP ME I NEED HELPERS!!!! %>
<% date_format = "%Y/%m/%d %T %z" %>
<% failures    = Resque::Failure %>
<% multiple    = Resque::Failure.queues.size > 1 %>
<% size        = failures.count(params[:queue]) %>
<% per_page    = 20 %>
<% start_at    = params[:start].to_i %>
<% end_at      = start_at + per_page > size ? size : start_at + per_page %>

<% if multiple && !params[:queue] %>
<h1>All Failed Queues: <%= Resque::Failure.queues.size %> total</h1>
<% else %>
<h1>Failed Jobs <%= "on '#{params[:queue]}'" if params[:queue] %></h1>
<% end %>

<% unless size.zero? %>
<form method="POST" action="<%=u 'failed/clear'%>">
  <input type='submit' name='' value='Clear Failed Jobs' />
</form>
<form method="POST" action="<%=u 'failed/requeue/all'%>">
  <input type='submit' name='' value='Retry Failed Jobs' />
</form>
<% end %>

<% if multiple && !params[:queue] %>
<%= partial :failed_queues_overview %>
<% else %>
<p class='sub'>Showing <%= start_at %> to <%= end_at %> of <b><%= size %></b> jobs</p>

<ul class='failed'>
  <% failures.each(start_at, per_page, params[:queue]) do |id, job| %>
    <li>
      <dl>
        <% if job.nil? %>
        <dt>Error</dt>
        <dd>Job <%= id %> could not be parsed; perhaps it contains invalid JSON?</dd>
        <% else %>
        <dt>Worker</dt>
        <dd>
          <a href="<%= u(:workers, job['worker']) %>"><%= job['worker'].split(':')[0...2].join(':') %></a> on <b class='queue-tag'><%= job['queue'] %></b > at <b><span class="time"><%= Time.parse(job['failed_at']).strftime(date_format) %></span></b>
          <% if job['retried_at'] %>
            <div class='retried'>
              Retried <b><span class="time"><%= Time.parse(job['retried_at']).strftime(date_format) %></span></b>
              <a href="<%= u "failed/remove/#{id}" %>" class="remove" rel="remove">Remove</a>
            </div>
          <% else %>
            <div class='controls'>
              <a href="<%= u "failed/requeue/#{id}" %>" rel="retry">Retry</a>
              or
              <a href="<%= u "failed/remove/#{id}" %>" rel="remove">Remove</a>
            </div>
          <% end %>
        </dd>
        <dt>Class</dt>
        <dd><code><%= job['payload'] ? job['payload']['class'] : 'nil' %></code></dd>
        <dt>Arguments</dt>
        <dd><pre><%=h job['payload'] ? show_args(job['payload']['args']) : 'nil' %></pre></dd>
        <dt>Exception</dt>
        <dd><code><%= job['exception'] %></code></dd>
        <dt>Error</dt>
        <dd class='error'>
          <% if job['backtrace'] %>
            <a href="#" class="backtrace"><%= h(job['error']) %></a>
            <pre style='display:none'><%=h job['backtrace'].join("\n") %></pre>
          <% else %>
            <%=h job['error'] %>
          <% end %>
        </dd>
        <% end %>
      </dl>
      <div class='r'>
      </div>
    </li>
  <% end %>
</ul>

<%= partial :next_more, :start => start_at, :size => size %>
<% end %>
