<% if failed_multiple_queues? && !params[:queue] %>
<h1>All Failed Queues: <%= Resque::Failure.queues.size %> total</h1>
<% else %>
<h1>Failed Jobs <%= "on '#{params[:queue]}'" if params[:queue] %> <%= "with class '#{params[:class]}'" if params[:class] %></h1>
<% end %>

<% unless failed_size.zero? %>
<form method="POST" action="<%= u "failed#{'/' + params[:queue] if params[:queue]}/clear" %>">
  <input type="submit" name="" value="Clear <%= params[:queue] ? "'#{params[:queue]}'" : 'Failed' %> Jobs" />
</form>
<form method="POST" action="<%= u "failed#{'/' + params[:queue] if params[:queue]}/requeue/all" %>">
  <input type="submit" name="" value="Retry <%= params[:queue] ? "'#{params[:queue]}'" : 'Failed' %> Jobs" />
</form>
<% end %>

<% if failed_multiple_queues? && !params[:queue] %>
<%= partial :failed_queues_overview %>
<% else %>
<p class='sub'>Showing <%= failed_start_at %> to <%= failed_end_at %> of <b><%= failed_size %></b> jobs</p>

<ul class='failed'>
  <% Resque::Failure.each(failed_start_at, failed_per_page, params[:queue], params[:class]) do |id, job| %>
    <li>
      <dl>
        <% if job.nil? %>
        <dt>Error</dt>
        <dd>Job <%= id %> could not be parsed; perhaps it contains invalid JSON?</dd>
        <% else %>
        <dt>Worker</dt>
        <dd>
          <a href="<%= u(:workers, job['worker']) %>"><%= job['worker'].split(':')[0...2].join(':') %></a> on <b class='queue-tag'><%= job['queue'] %></b > at <b><span class="time"><%= Time.parse(job['failed_at']).strftime(failed_date_format) %></span></b>
          <% if job['retried_at'] %>
            <div class='retried'>
              Retried <b><span class="time"><%= Time.parse(job['retried_at']).strftime(failed_date_format) %></span></b>
              <a href="<%= u "failed/remove/#{id}" %>" class="remove" rel="remove">Remove</a>
            </div>
          <% else %>
            <div class='controls'>
              <a href="<%= u "failed/requeue/#{id}" %>" rel="retry">Retry</a>
              or
              <a href="<%= u "failed/remove/#{id}" %>" rel="remove">Remove</a>
            </div>
          <% end %>
        </dd>
        <dt>Class</dt>
        <dd>
          <% if job['payload'] && job['payload']['class'] %>
            <a href="<%= u "failed/#{params[:queue]}?class=#{job['payload']['class']}" %>">
              <code><%= job['payload']['class'] %></code>
            </a>
          <% else %>
            <code>nil</code>
          <% end %>
        </dd>
        <dt>Arguments</dt>
        <dd><pre><%=h job['payload'] ? show_args(job['payload']['args']) : 'nil' %></pre></dd>
        <dt>Exception</dt>
        <dd><code><%= job['exception'] %></code></dd>
        <dt>Error</dt>
        <dd class='error'>
          <% if job['backtrace'] %>
            <a href="#" class="backtrace"><%= h(job['error']) %></a>
            <pre style='display:none'><%=h job['backtrace'].join("\n") %></pre>
          <% else %>
            <%=h job['error'] %>
          <% end %>
        </dd>
        <% end %>
      </dl>
      <div class='r'>
      </div>
    </li>
  <% end %>
</ul>

<%= partial :next_more, :start => failed_start_at, :size => failed_size unless params[:class] %>
<% end %>
