<% if params[:key] %>

  <p class='sub'>
    Showing <%= @start %> to <%= @start + @resolution %> of <b><%= @size %></b>
  </p>

    
  <h1>Key "<%= params[:key] %>" is a <%= resque.redis.type params[:key] %></h1>
  <table>
    <% for row in redis_get_value_as_array(params[:key], @start) %>
    <tr>
      <td>
        <%= row %>
      </td>
    </tr>
    <% end %>
  </table>

<%= partial :next_more, :start => @start, :size => @size, :resolution => @resolution %>
<% end %>
