<%= next_offset = start + page_size %>
<%= prev_offset = start - page_size %>

<% if prev_offset >= 0 || next_offset <= size %>
<p class='pagination'>
  <% if prev_offset >= 0 %>
    <a href="<%= current_page %>?start=<%= prev_offset %>" class='less'>&laquo; less</a>
  <% end %>
  <% if next_offset <= size %>
    <a href="<%= current_page %>?start=<%= next_offset %>" class='more'>more &raquo;</a>
  <% end %>
</p>
<%end%>