<% if  start - 20 >= 0 || start + 20 <= size %>
    <p class='pagination'>
      <% if start - 20 >= 0 %>
          <a href="<%= current_page %>?start=<%= start - 20 %>" class='less'>&laquo; less</a>
      <% end %>

      <span class="pages">
        <% (1..(size.to_f/20).ceil).each do |page| %>
            <% if start == 20 * (page-1) %>
                <%= page %>
            <% else %>
                <a href="<%= current_page %>?start=<%= 20 * (page-1) %>" class='page'><%= page %></a>
            <% end %>
        <% end %>
      </span>

      <% if start + 20 <= size %>
          <a href="<%= current_page %>?start=<%= start + 20 %>" class='more'>more &raquo;</a>
      <% end %>
    </p>
<% end %>