<%if  start - 20 >= 0 || start + 20 <= size%>
<p class='pagination'>
  <% if start - 20 >= 0 %>
    <span class='less'>
      <a href="<%= current_page %>?start=0">&laquo;&laquo; start</a>
      <a href="<%= current_page %>?start=<%= start - 20 %>">&laquo; previous</a>
    </span>
  <% end %>
  <% if start + 20 < size %>
    <span class='more'>
      <a href="<%= current_page %>?start=<%= start + 20 %>">next &raquo;</a>
      <a href="<%= current_page %>?start=<%= size - 20 %>"> end &raquo;&raquo;</a>
    </span>
  <% end %>
</p>
<%end%>
