<h1>Queues</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Pending</th>
  </tr>
  <% for queue in resque.queues %> 
  <tr>
    <td><a class="queue" href="#"><%= queue %></a></td>
    <td><%= resque.size queue %></td>      
  </tr>
  <% end %>
</table>

<h1>Workers</h1>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Host</th>
    <th>Pid</th>    
    <th>Queues</th>        
    <th>Status</th>    
  </tr>
  <% for worker in resque.workers %>
  <tr>
    <td><img src="<%= state = resque.worker_state(worker) %>.png" alt="<%= state %>" title="<%= state %>"></td>
    
    <% host, pid, queues = worker.split(':') %>
    <td><%= host %></td>
    <td><%= pid %></td>
    <td><%= queues.split(',').map { |q| '<a class="queue" href="#">' + q + '</a>'}.join(', ') %></td>
    
    <td>      
      <% data = resque.worker(worker) || {} %>
      <% if data['queue'] %>
      <code><%= data['payload']['class'] %></code>
      <small><a href="#" class="queue">2 minutes ago</a></small>
      <% else %>
      Chillin'
      <% end %>
    </td>
    
  </tr>
  <% end %>
</table>

<% failed = resque.peek(:failed, 0, 20) %>
<% if failed.any? %>
<h1>Failed</h1>
<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Started Working</th>
    <th>Job Class</th>
    <th>Job Args</th>        
  </tr>
  <% for job in resque.peek(:failed, 0, 20) %>
  <tr>
    <td><%= job.inspect %></td>
  </tr>
  <% end %>
</table>
<% end %>

