<h1>Pending jobs on <span class='hl'><%= queue %></span></h1>
<form method="POST" action="<%=u "/queues/#{queue}/remove" %>" class='remove-queue'>
  <input type='submit' name='' value='Remove Queue' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
</form>
<p class='sub'><%= page_entries_info start, start + 19, size = resque.size(queue), 'job' %></p>
<table class='jobs'>
  <tr>
    <th>Class</th>
    <th>Args</th>
  </tr>
  <% for job in (jobs = resque.peek(queue, start, 20)) %>
  <tr>
    <td class='class'><%= job['class'] %></td>
    <td class='args'><%=h job['args'].inspect %></td>
  </tr>
  <% end %>
  <% if jobs.empty? %>
  <tr>
    <td class='no-data' colspan='2'>There are no pending jobs in this queue</td>
  </tr>
  <% end %>
</table>
<%= partial :next_more, :start => start, :size => size, :per_page => 20 %>
