<% @subtabs = resque.queues unless partial? %>

<% if queue = params[:id] %>

  <h1><%= size = resque.size(queue) %> Pending Jobs in '<%= queue.upcase %>'</h1>
  <h2>Showing <%= start = params[:start].to_i %> to <%= start + 20 %></h2>
  <table>
    <tr>
      <th>Class</th>
      <th>Args</th>
    </tr>
    <% for job in resque.peek(queue, start, 20) %>
    <tr>
      <td><%= job['class'] %></td>
      <td><%=h job['args'].inspect %></td>
    </tr>
    <% end %>
    <%= partial :next_more, :start => start, :size => size %>
  </table>
<% else %>

  <h1>Queues</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Pending</th>
    </tr>
    <% for queue in resque.queues.sort_by { |q| q.to_s } %>
    <tr>
      <td><a class="queue" href="/queues/<%= queue %>"><%= queue %></a></td>
      <td><%= resque.size queue %></td>
    </tr>
    <% end %>
    <tr>
      <td><a class="queue" href="/failed">failed</a></td>
      <td><%= Resque::Job.failed_size %></td>
    </tr>
  </table>

<% end %>