<% @subtabs = %w( resque redis keys ) %>

<% if params[:key] %>

<%= partial :key %>

<% elsif params[:id] == "resque" %>

  <h1><%= resque %></h1>
  <table>
  <% for key, value in resque.info.to_a.sort_by { |i| i[0].to_s } %>
    <tr>
      <td>
        <%= key %>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
  </table>

<% elsif params[:id] == 'redis' %>

  <h1><%= resque.redis %></h1>
  <table>
  <% for key, value in resque.redis.info.to_a.sort_by { |i| i[0].to_s } %>
    <tr>
      <td>
        <%= key %>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
  </table>
  
<% elsif params[:id] == 'keys' %>

  <h1>Keys owned by <%= resque %></h1>
  <h2>(All keys are actually prefixed with "resque:")</h2>
  <table>
    <tr>
      <th>key</th>
      <th>type</th>
      <th>size</th>
    </tr>
  <% for key in resque.keys.sort %>
    <tr>
      <td>
        <a href="/stats/keys/<%= key %>"><%= key %></a>
      </td>
      <td><%= resque.redis.type key %></td>
      <td><%= redis_get_size key %></td>
    </tr>
  <% end %>
  </table>

<% else %>

<% end %>