<% if params[:id] && worker = Resque::Worker.find(params[:id]) %>
  <h1><%= worker %>'s job</h1>
  
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Where</th>
      <th>Queue</th>
      <th>Started</th>      
      <th>Class</th>
      <th>Args</th>
    </tr>
      <tr>
        <td><img src="/working.png" alt="working" title="working"></td>
        <% host, pid, _ = worker.to_s.split(':') %>
        <td><a href="/workers/<%= worker %>"><%= host %>:<%= pid %></a></td>
        <% data = worker.processing %>
        <% queue = data['queue'] %>
        <td><a class="queue" href="/queues/<%= queue %>"><%= queue %></a></td>
        <td><span class="time"><%= data['run_at'] %></span></td>        
        <td>      
          <code><%= data['payload']['class'] %></code>
        </td>
        <td><%=h data['payload']['args'].inspect %></td>
      </tr>
  </table>

<% else %>

  <% working = resque.working %>
  <h1>Workers Working (<%= working.size %>)</h1>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Where</th>
      <th>Queue</th>        
      <th>Processing</th>    
    </tr>
    <% if working.empty? %>
    <tr>
      <td colspan="4">Not a one.</td>
    </tr>
    <% end %>
    
    <% workers = working.map { |worker_id| Resque::Worker.find(worker_id) } %>
    <% for worker_id in workers.sort_by { |w| -w.job['run_at'].to_i } %>
      <% job = worker.job || {} %>
      <tr>
        <td><img src="/<%= state = worker.state %>.png" alt="<%= state %>" title="<%= state %>"></td>
        <% host, pid, queues = worker.to_s.split(':') %>
        <td><a href="/workers/<%= worker %>"><%= host %>:<%= pid %></a></td>
        <td>
          <a class="queue" href="/queues/<%= job['queue'] %>"><%= job['queue'] %></a>
        </td>
        <td>      
          <% if job['queue'] %>
            <code><%= job['payload']['class'] %></code>
            <small><a class="queue time" href="/working/<%= worker %>"><%= job['run_at'] %></a></small>
          <% else %>
            Waiting for more
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

<% end %>
