<% if params[:id] && (current_worker = Resque::Worker.find(params[:id])) && (data = current_worker.job) %>
  <h1><%= current_worker %>'s job</h1>

  <table>
    <tr>
      <th>Where</th>
      <th>Queue</th>
      <th>Started</th>
      <th>Class</th>
      <th>Args</th>
    </tr>
      <tr>
        <% host, pid, _ = current_worker.to_s.split(':') %>
        <td><a href="<%=u "/workers/#{current_worker}" %>"><%= host %>:<%= pid %></a></td>
        <% queue = data['queue'] %>
        <td><a class="queue" href="<%=u "/queues/#{queue}" %>"><%= queue %></a></td>
        <td><span class="time"><%= data['run_at'] %></span></td>
        <% payload = data.key?('payload') ? data['payload'] : {} %>
        <td>
          <code><%= payload.key?('class') ? payload['class'] : "—" %></code>
        </td>
        <td><%=h payload.key?('args') ? payload['args'].inspect : "—" %></td>
      </tr>
  </table>

<% else %>

  <% jobs_running = resque.jobs_running %>

  <h1 class='wi'><%= jobs_running.size %> Jobs Actively Running</h1>
  <p class='intro'>The list below contains all jobs currently running.</p>
  <table class='workers'>
    <tr>
      <th>Where</th>
      <th>Queue</th>
      <th>Processing</th>
    </tr>
    <% if jobs_running.empty? %>
    <tr>
      <td colspan="3" class='no-data'>Nothing is happening right now...</td>
    </tr>
    <% end %>

    <% jobs_running.sort_by { |_w, j| j['run_at'] ? j['run_at'].to_s() : '' }.each do |thread, job| %>
      <tr>
        <% host, pid, _queues = thread.worker.to_s.split(':') %>
        <td class='where'><a href="<%=u "/workers/#{thread.worker}" %>"><%= host %>:<%= pid %></a></td>
        <td class='queues queue'>
          <a class="queue-tag" href="<%=u "/queues/#{job['queue']}" %>"><%= job['queue'] %></a>
        </td>
        <td class='process'>
          <%= partial :processing, :thread => thread, :job => job %>
        </td>
      </tr>
    <% end %>
  </table>

<% end %>
