<% if (worker = params[:id]) && resque.worker?(worker)%>

  <h1>Worker <%= worker %></h1>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Host</th>
      <th>Pid</th>
      <th>Started</th>      
      <th>Queues</th>
      <th>Processed</th>
      <th>Failed</th>              
      <th>Status</th>    
    </tr>
    <tr>
      <td><img src="/<%= state = resque.worker_state(worker) %>.png" alt="<%= state %>" title="<%= state %>"></td>
    
      <% host, pid, queues = worker.to_s.split(':') %>
      <td><%= host %></td>
      <td><a href="/workers/<%= worker %>"><%= pid %></a></td>
      <td><span class="time"><%= resque.worker_started(worker) %></a></td>      
      <td><%= queues.split(',').map { |q| '<a class="queue" href="/queues/' + q + '">' + q + '</a>'}.join(', ') %></td>
      <td><%= resque.processed(worker) %></td>
      <td><%= resque.failed(worker) %></td>      
      <td>      
        <% data = resque.worker(worker) || {} %>
        <% if data['queue'] %>
          <code><%= data['payload']['class'] %></code>
          <small><a class="queue time" href="/working/<%= worker %>"><%= data['run_at'] %></a></small>      
        <% else %>
          Chillin'
        <% end %>
      </td>
    </tr>
  </table>
  
<% elsif worker %>

<h1>Worker doesn't exist</h1>

<% else %>

  <h1>Workers</h1>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Host</th>
      <th>Pid</th>    
      <th>Queues</th>        
      <th>Status</th>    
    </tr>
    <% for worker in resque.workers %>
    <tr>
      <td><img src="/<%= state = resque.worker_state(worker) %>.png" alt="<%= state %>" title="<%= state %>"></td>
    
      <% host, pid, queues = worker.split(':') %>
      <td><%= host %></td>
      <td><a href="/workers/<%= worker %>"><%= pid %></a></td>
      <td><%= queues.split(',').map { |q| '<a class="queue" href="/queues/' + q + '">' + q + '</a>'}.join(', ') %></td>
      
      <td>      
        <% data = resque.worker(worker) || {} %>
        <% if data['queue'] %>
          <code><%= data['payload']['class'] %></code>
          <small><a class="queue time" href="/working/<%= worker %>"><%= data['run_at'] %></a></small>      
        <% else %>
          Chillin'
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

<% end %>